Checks:          'clang-analyzer-(core|dead|null)*,cppcore*,(bugprone|misc|modernize|perf|read)*'
WarningsAsErrors: '(bugprone|misc|modernize|perf|read)*'
HeaderFilterRegex: 'date/\w{1,}.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            nick

